<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>

<div id="fav">
  <input type="search" placeholder="Search" v-model="word" v-on:input="search"><br>
  <li v-for="favorite in itemsFiltered">
    {{ favorite.text }}
  </li>
</div>

<script>

var fav = new Vue({
  el: '#fav',
  data: {
    word: "",
    favorites: ['Loading...']
  },
  computed: {
    itemsFiltered: function () {
      return this.search(this.word)
    }  
  },
  methods: {
    async getFavorites() {
      var url = 'http://localhost:4567/api/v1.0/favorite';
      await axios.get(url).then(x => { this.favorites = x.data; });
    },
    search: function(word) {
      query = word;
      if (this.favorites[0] === "Loading...") {
        return false
      } else {
        return this.favorites.filter(x => x.text.indexOf(query) !== -1)
      }
    }
  },
  created() {
    this.getFavorites();
  },
})

</script>
